$fonts: 'Cutive Mono', monospace;
$blue: #0984e3;

body {
	background-color: $blue;
	color: white;
	font-family: $fonts;
	text-align: center;
	h1 {
		font-size: 48px;
		height: 150px;
		margin: 50px auto;
		padding: 0 auto;
	}
	.box {
		margin-bottom: 200px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 24px;
	}
	.trigger {
		background-color: $blue;
		border: 1px solid white;
		color: white;
		cursor: pointer;
		display: flex;
		font-family: $fonts;
		font-size: 36px;
		height: 60px;
		justify-content: center;
		margin: 0 auto;
		width: 600px;
	}
	.tweet {
		align-items: center;
		border: 1px solid white;
		color: white;
		display: flex;
		font-family: $fonts;
		font-size: 36px;
		height: 60px;
		justify-content: center;
		margin: 60px auto;
		text-decoration: none;
		width: 600px;
	}
}