$fonts: 'Cutive Mono', monospace;
$blue: #0984e3;

body {
	background-color: $blue;
	font-family: $fonts;
	text-align: center;
	h1 {
		font-size: 48px;
		height: 150px;
		margin: 50px auto;
		padding: 0 auto;
	}
	.box {
		height: 400px;
	}
	h2 {
		font-size: 36px;
	}
	h3 {
		font-size: 24px;
	}
	.trigger {
		background-color: grey;
		border-radius: 40px;
		display: block;
		font-family: $fonts;
		font-size: 36px;
		height: 120px;
		list-style-type: none;
		margin: 0 auto;
		width: 300px;
	}
	.tweet {
		border: 1px solid black;
		border-radius: 40px;
		color: black;
		display: block;
		font-family: $fonts;
		font-size: 36px;
		margin: 20px auto;
		padding: 20px 10px;
		text-decoration: none;
		width: 300px;
	}
}